<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

</head>

<body>

    <!-- Payment Card -->
    <div th:fragment="payment_form" class="card payment-card">
        <!-- Card Body -->
        <div class="card-body">
            <!-- Form Group -->
            <div class="form-group mb-2">
                <label for="">Account Holder / Beneficiary</label>
                <input type="text" name="beneficiary" class="form-control" placeholder="Add Account Holder / Beneficiary name">
            </div>
            <!-- End of Form Group -->

            <!-- Form Group -->
            <div class="form-group mb-2">
                <label for="">Beneficiary Account Number</label>
                <input type="text" name="account_number" class="form-control" placeholder="Add Beneficiary Account Number">
            </div>
            <!-- End of Form Group -->

            <!-- Form Group -->
            <div class="form-group mb-2">
                <label for="">Select Account</label>
                <!-- Select Account Option -->
                <select name="account_id" id="" class="form-control">
                    <option value="">-- Select Account --</option>
                    <option value=""></option>
                </select>
                <!-- Select Account Option -->
            </div>
            <!-- End of Form Group-->

            <!-- Form Group -->
            <div class="form-group mb-2">
                <label for="">Reference</label>
                <input type="text" name="reference" class="form-control" placeholder="Enter Reference">
            </div>
            <!-- End of Form Group -->

            <!-- Form Group -->
            <div class="form-group mb-2">
                <label for="">Payment Ammount</label>
                <input type="text" name="payment_ammount" class="form-control" placeholder="Enter Payment Ammount">
            </div>
            <!-- End of Form Group -->

            <!-- Form Group -->
            <div class="form-group mb-2">
                <button class="btn btn-md transact-btn">Pay</button>
            </div>
            <!-- End of Form Group -->
        </div>
        <!-- End of Card Body -->
    </div>
    <!-- End of Payment Card -->

</body>

</html>