<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

</head>

<body>

    <!-- Transfer Card -->
    <div th:fragment="transfer_form" class="card transfer-card">
        <!-- Card Body -->
        <div class="card-body">
            <!-- Form Group -->
            <div class="form-group mb-2">
                <label for="">Select Account</label>
                <!-- Select Account Option -->
                <select name="account_id" id="" class="form-control">
                    <option value="">-- Select Account --</option>
                    <option value=""></option>
                </select>
                <!-- Select Account Option -->
            </div>
            <!-- End of Form Group-->

            <!-- Form Group -->
            <div class="form-group mb-2">
                <label for="">Transfer Ammount</label>
                <input type="text" name="transfer_ammount" class="form-control" placeholder="Enter Transfer Ammount">
            </div>
            <!-- End of Form Group -->

            <!-- Form Group -->
            <div class="form-group mb-2">
                <button id="" class="btn btn-md transact-btn">Transfer</button>
            </div>
            <!-- End of Form Group -->
        </div>
        <!-- End of Card Body -->
    </div>
    <!-- End of Transfer Card -->

</body>

</html>