<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link th:href="@{/css/bootstrap/bootstrap.css}" rel="stylesheet" />
        <link th:href="@{/css/fontawesome/css/all.css}" rel="stylesheet" />
        <link th:href="@{/css/main.css}" rel="stylesheet" />
        <link th:href="@{https://fonts.googleapis.com/css?family=Comfortaa}" rel="stylesheet" />
        <title th:text="${PageTitle}"></title>
    </head>

    <body>

        <!-- Page Header -->
        <div th:insert="components/incl/header.html :: header"> </div>
        <!-- End of Page Header -->

        <!-- Container -->
        <div class="container">

            <!-- Card: Payment History Card -->
            <div class="card transaction-history shadow">
                <!-- Card Header -->
                <div class="card-header">
                    <i class="fas fa-credit-card me-2" aria-hidden="true"></i> Transaction History
                </div>
                <!-- End Of Card Header -->

                <!-- Card Body -->
                <div class="card-body">
                    <div th:if="${transactHistory != null}">
                        <!-- Payment History Table -->
                        <table class="table text-center table-striped">
                            <tr>
                                <th>Transaction ID</th>
                                <th>Transaction Type</th>
                                <th>Amount</th>
                                <th>Source</th>
                                <th>Status</th>
                                <th>Reason Code</th>
                                <th>Created at</th>
                                <th>Beneficiary</th>
                                <th>Beneficiary Account No</th>
                                <th>Reference Number</th>
                            </tr>
                            <!-- Loop Through Payment History Records -->
                            <tr th:each="t: ${transactHistory}">
                                <td th:text="${t.id}"></td>
                                <td th:text="${t.type}"></td>
                                <td th:text="${t.amount}"></td>
                                <td th:text="${t.source}"></td>
                                <td th:text="${t.status}"></td>
                                <td th:text="${t.reasonCode}"></td>
                                <td th:text="${t.createdAt}"></td>
                                <div th:switch="${t.paymentDTO == null}">
                                    <td th:case="${false}" th:text="${t.paymentDTO.beneficiary}"></td>
                                    <td th:case="${true}">-</td>
                                </div>
                                <div th:switch="${t.paymentDTO == null}">
                                    <td th:case="${false}" th:text="${t.paymentDTO.beneficiaryAccountNumber}"></td>
                                    <td th:case="${true}">-</td>
                                </div>
                                <div th:switch="${t.paymentDTO == null}">
                                    <td th:case="${false}" th:text="${t.paymentDTO.referenceNumber}"></td>
                                    <td th:case="${true}">-</td>
                                </div>
                            </tr>
                            <!-- End Of Loop Through Payment History Records -->
                        </table>
                        <!-- End Of Payment History Table -->
                    </div>
                </div>
                <!-- End Of Card Body -->
            </div>
            <!-- End Of Card: Payment History Card -->
        </div>
        <!-- End Of Container -->

    </body>

</html>