<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Demo App</title>
    <link th:href="@{/css/bootstrap/bootstrap.css}" rel="stylesheet" />
    <link th:href="@{/css/fontawesome/css/all.css}" rel="stylesheet" />
    <link th:href="@{https://fonts.googleapis.com/css?family=Comfortaa}" rel="stylesheet" />
</head>

<body>

    <p class="text-uppercase" th:text="'Time on the server is: ' + ${theDate}"/>
    <p class="text">asdasdfwpfowmepfqv ;zmvlmerokmergm podspl,sc</p>
</body>

</html>