<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link th:href="@{/css/bootstrap/bootstrap.css}" rel="stylesheet" />
        <link th:href="@{/css/fontawesome/css/all.css}" rel="stylesheet" />
        <link th:href="@{/css/default.css}" rel="stylesheet" />
        <link th:href="@{/css/registration-page.css}" rel="stylesheet" />
        <link th:href="@{https://fonts.googleapis.com/css?family=Comfortaa}" rel="stylesheet" />
        <title th:text="${PageTitle}"></title>
    </head>

    <body class="d-flex align-items-center justify-content-center">

        <!-- Card: Registration Form Card -->
        <div class="card registration-form-card col-6 bg-transparent border-0">

            <!-- Card Body -->
            <div class="card-body">
                <!-- Form Header -->
                <h1 class="form-header card-title mb-3">
                    <i class="fa fa-edit"></i> Register
                </h1>
                <!-- End of Form Header -->

                <!-- Display Message -->
                <p th:if="${passwordMisMatch != null}">
                    <div class="alert alert-danger text-center border border-danger">
                <b><span th:text="${passwordMisMatch}"></span></b>
                    </div>
                </th:if>
                <!-- End Of Display Message -->

                <!-- Display Message -->
                <p th:if="${success != null}">
                    <div class="alert alert-success text-center border border-success">
                        <b><span th:text="${success}"></span></b>
                    </div>
                </th:if>
                <!-- End Of Display Message -->

                <!-- Registration Form -->
                <form th:action="@{/register}" method="post" th:object="${registerUser}" class="reg-form">
                    <!-- Row -->
                    <div class="row">
                        <!-- Form Group -->
                        <div class="form-group col">
                            <input type="text" name="first_name" th:field="*{firstName}" class="form-control form-control-lg" placeholder="Enter first name">
                            <p th:if="${#fields.hasErrors('firstName')}"
                               th:errors="*{firstName}" class="error-message"></p>
                        </div>
                        <!-- End of Form Group -->

                        <!-- Form Group -->
                        <div class="form-group col">
                            <input type="text" name="last_name" th:field="*{lastName}" class="form-control form-control-lg" placeholder="Enter last name">
                            <p th:if="${#fields.hasErrors('lastName')}"
                               th:errors="*{lastName}" class="error-message"></p>
                        </div>
                        <!-- End of Form Group -->
                    </div>
                    <!-- End of Row -->

                    <!-- Form Group -->
                    <div class="form-group col">
                        <input type="email" name="email" th:field="*{email}" class="form-control form-control-lg" placeholder="Enter email">
                        <p th:if="${#fields.hasErrors('email')}"
                           th:errors="*{email}" class="error-message"></p>
                    </div>
                    <!-- End of Form Group -->

                    <!-- Row -->
                    <div class="row">
                        <!-- Form Group -->
                        <div class="form-group col">
                            <input type="password" name="password" th:field="*{password}" class="form-control form-control-lg" placeholder="Enter password">
                            <p th:if="${#fields.hasErrors('password')}"
                               th:errors="*{password}" class="error-message"></p>
                        </div>
                        <!-- End of Form Group -->

                        <!-- Form Group -->
                        <div class="form-group col">
                            <input type="password" name="confirmPassword" class="form-control form-control-lg" placeholder="Confirm password">
                            <small th:text="${confirmPass}" class="error-message"></small>
                        </div>
                        <!-- End of Form Group -->
                    </div>
                    <!-- End of Row -->

                    <!-- Form Group -->
                    <div class="form-group col">
                        <button class="btn btn-lg">Register</button>
                    </div>
                    <!-- End of Form Group -->
                </form>
                <!-- End of Registration Form -->

                <!-- Card Text -->
                <p class="card-text text-white my-2">
                    Already have an account <span class="ms-2"><a href="/login" class="btn btn-sm text-warning">Sign In</a></span>
                </p>
                <!-- End of Card Text -->

                <!-- Back Button to Landing Page -->
                <small class="text-warning">
                    <i class="fa fa-arrow-alt-circle-left me-1"></i><a href="/" class="btn btn-sm text-warning">Back</a>
                </small>
                <!-- End of Back Button to Landing Page -->
            </div>
            <!-- End of Card Body-->

        </div>
        <!-- End of Card: Registration Form Card -->

    </body>
</html>