<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

</head>

<body>

    <!-- Deposit Card -->
    <div th:fragment="deposit_form" class="card deposit-card">
        <!-- Card Body -->
        <div class="card-body">
            <!-- Deposit Form -->
            <form th:action="@{/transaction/deposit}" th:object="${transactionDTO}" method="post" class="form deposit-form">
                <!-- Form Group -->
                <div class="form-group mb-2">
                    <label>Deposit Amount</label>
                    <input type="text" th:name="amount" class="form-control" placeholder="Enter Deposit Amount" required>
                </div>
                <!-- End of Form Group -->

                <!-- Form Group -->
                <div class="form-group mb-2">
                    <label>Select Account</label>
                    <!-- Select Account Option -->
                    <select th:name="accountId" class="form-control" required>
                        <option value="">-- Select Account --</option>
                        <div th:if="${user.accountDTOS != null}">
                            <option th:each="a : ${user.accountDTOS}" th:value="${a.id}" th:text="${a.name}"></option>
                        </div>
                    </select>
                    <!-- Select Account Option -->
                </div>
                <!-- End of Form Group-->

                <!-- Form Group -->
                <div class="form-group my-2">
                    <button class="btn btn-md transact-btn">Deposit</button>
                </div>
                <!-- End of Form Group -->
            </form>
            <!-- End of Deposit Form -->
        </div>
        <!-- End of Card Body -->
    </div>
    <!-- End of Deposit Card -->

</body>

</html>