<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

</head>

<body>

    <!-- Transfer Card -->
    <div th:fragment="transfer_form" class="card transfer-card">
        <!-- Card Body -->
        <div class="card-body">
            <!-- Transfer Form -->
            <form th:action="@{/transaction/transfer}" method="post" th:object="${transactionDTO}" class="form transfer-form">
                <!-- Form Group -->
                <div class="form-group mb-2">
                    <label>Select Account</label>
                    <!-- Select Account Option -->
                    <select th:name="accountId" class="form-control" required>
                        <option value="">-- Select Account --</option>
                        <div th:if="${user.accountDTOS != null}">
                            <option th:each="a : ${user.accountDTOS}" th:value="${a.id}" th:text="${a.name}"></option>
                        </div>
                    </select>
                    <!-- Select Account Option -->
                </div>
                <!-- End of Form Group-->

                <!-- Form Group -->
                <div class="form-group mb-2">
                    <label>Select Account</label>
                    <!-- Select Account Option -->
                    <select th:name="transferTo" class="form-control" required>
                        <option value="">-- Select Account --</option>
                        <div th:if="${user.accountDTOS != null}">
                            <option th:each="a : ${user.accountDTOS}" th:value="${a.id}" th:text="${a.name}"></option>
                        </div>
                    </select>
                    <!-- Select Account Option -->
                </div>
                <!-- End of Form Group-->

                <!-- Form Group -->
                <div class="form-group mb-2">
                    <label>Transfer Amount</label>
                    <input type="text" th:name="amount" class="form-control" placeholder="Enter Transfer Amount" required>
                </div>
                <!-- End of Form Group -->

                <!-- Form Group -->
                <div class="form-group mb-2">
                    <button class="btn btn-md transact-btn">Transfer</button>
                </div>
                <!-- End of Form Group -->
            </form>
            <!-- End of Transfer Form -->
        </div>
        <!-- End of Card Body -->
    </div>
    <!-- End of Transfer Card -->

</body>

</html>